@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
ion-toolbar{
  --background: rgb(162, 32, 42);
  color: white;
}
.marge{
    margin-top: 5%;
    margin-left: 3%;
}
ion-card-subtitle {
  font-size: 25px;
  color: rgb(162, 32, 42);
  font-weight: bold;
}