<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Dossiers d'inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Dossier d'inscription:</ion-card-subtitle> <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eos minima
      eligendi! Explicabo odit exercitationem aperiam excepturi dolor quis
      vitae, iste earum culpa ips
    </ion-card-content>    
  </ion-card>
  <ion-card>
    <ion-card-subtitle class="marge">Dossiers d'inscription</ion-card-subtitle>
    <ion-card-content>
      <ion-label>Fiche d'inscription (école)</ion-label><br>
      <ion-label>Extrait de naissance</ion-label><br>
      <ion-label>Nationalité</ion-label><br>
      <ion-label>Dernier diplome</ion-label><br>
      <ion-label>Deux (2) photos</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
