<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Quelques commentaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Appropos de nous:</ion-card-subtitle> <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eos minima
      eligendi! Explicabo odit exercitationem aperiam excepturi dolor quis
      vitae, iste earum culpa ips
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <img src="assets/images/mieu.jpg" alt="" />
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam magni
      odit esse porro harum ducimus animi officiis ullam, sunt illo repudiandae
      fugiat nemo modi accusantium dolore quas facere nulla officia.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img src="assets/images/home-slide-1.png" alt="" />
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam magni
      odit esse porro harum ducimus animi officiis ullam, sunt illo repudiandae
      fugiat nemo modi accusantium dolore quas facere nulla officia.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img src="assets/images/IMG_9513.JPG" alt="" />
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam magni
      odit esse porro harum ducimus animi officiis ullam, sunt illo repudiandae
      fugiat nemo modi accusantium dolore quas facere nulla officia.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img src="assets/images/nvnv.jpg" alt="" />
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam magni
      odit esse porro harum ducimus animi officiis ullam, sunt illo repudiandae
      fugiat nemo modi accusantium dolore quas facere nulla officia.
    </ion-card-content>
  </ion-card>
</ion-content>
