<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Quelques commentaires</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Satisfaction:</ion-card-subtitle> <br />
      À l'EPI Niger, nous sommes fiers de recevoir des retours positifs de la
      part de nos élèves, parents et enseignants. Voici quelques témoignages qui
      reflètent l'expérience unique vécue au sein de notre établissement.
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <img src="assets/images/mieu.jpg" alt="" />
    <ion-card-content>
      L'école m'a non seulement donné une solide formation académique, mais elle
      m'a aussi aidée à développer des compétences personnelles qui me servent
      encore aujourd'hui. Les enseignants sont toujours à l'écoute et investis
      dans la réussite de chaque élève.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img src="assets/images/home-slide-1.png" alt="" />
    <ion-card-content>
      Je suis très satisfait de l'encadrement offert par l'école. Mon fils a
      fait de grands progrès, non seulement sur le plan scolaire, mais aussi en
      termes de confiance en lui. L'ambiance est chaleureuse et stimulante.
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img src="assets/images/IMG_9513.JPG" alt="" />
    <ion-card-content>
      Travailler à l'EPI Niger est une expérience enrichissante. Les élèves sont
      curieux, motivés, et l'école nous offre les outils nécessaires pour
      innover dans nos pratiques pédagogiques
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <img src="assets/images/nvnv.jpg" alt="" />
    <ion-card-content>
      L'école m'a permis de découvrir ma passion pour les sciences et m'a donné
      les moyens de réussir dans ce domaine. Je recommande cet établissement à
      tous ceux qui cherchent à s'épanouir tant au niveau académique que
      personnel.
    </ion-card-content>
  </ion-card>
</ion-content>
