<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Versement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Nos tranche de versement:</ion-card-subtitle> <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eos minima
      eligendi! Explicabo odit exercitationem aperiam excepturi dolor quis
      vitae, iste earum culpa ips
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Inscriptions</ion-card-title>
    <ion-card-content>
      <ion-card class="memeCard">
        <ion-label class="title">40%</ion-label><br>
        <ion-label>Incription + tenues (1 versement)</ion-label>
      </ion-card>
      <ion-card class="memeCard">
        <ion-label class="title">20%</ion-label><br>
        <ion-label>Fin decembre (2eme versement)</ion-label>
      </ion-card>
      <ion-card class="memeCard">
        <ion-label class="title">20%</ion-label><br>
        <ion-label>Fin fevrirer (3eme versement)</ion-label>
      </ion-card>
      <ion-card class="memeCard">
        <ion-label class="title">20%</ion-label><br>
        <ion-label>Fin mars (4eme versement)</ion-label>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Niveaux moyens</ion-card-title><br>
    <ion-title class="title">Moyens 1&2</ion-title>
    <ion-card-content>
      <ion-card class="memeCard">20 000 Fcfa + 30 000 Fcfa + 80 000 Fcfa</ion-card>
      <ion-card class="memeCard">2eme versement <ion-label class="montant">40 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">3eme versement <ion-label class="montant">40 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">4eme versement <ion-label class="montant">40 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard"><ion-label class="title">Total  : </ion-label> 250 000 Fcfa</ion-card>
    </ion-card-content>
    <ion-title class="title">Moyens 3 (BAC Pro)</ion-title>
    <ion-card-content>
      <ion-card class="memeCard">20 000 Fcfa + 30 000 Fcfa + 100 000 Fcfa</ion-card>
      <ion-card class="memeCard">2eme versement <ion-label class="montant">50 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">3eme versement <ion-label class="montant">50 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">4eme versement <ion-label class="montant">50 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard"><ion-label class="title">Total  : </ion-label> 300 000 Fcfa</ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Licences et Masters</ion-card-title><br>
    <ion-title class="title">Licences 1&2 privés</ion-title>
    <ion-card-content>
      <ion-card class="memeCard">20 000 Fcfa + 30 000 Fcfa + 160 000 Fcfa</ion-card>
      <ion-card class="memeCard">2eme versement <ion-label class="montant">80 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">3eme versement <ion-label class="montant">80 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">4eme versement <ion-label class="montant">80 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard"><ion-label class="title">Total  : </ion-label> 450 000 Fcfa</ion-card>
    </ion-card-content>
    <ion-title class="title">Licences 1&2 Anab</ion-title>
    <ion-card-content>
      <ion-card class="memeCard">20 000 Fcfa + 30 000 Fcfa + 80 000 Fcfa</ion-card>
      <ion-card class="memeCard">2eme versement <ion-label class="montant">40 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">3eme versement <ion-label class="montant">40 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">4eme versement <ion-label class="montant">40 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard"><ion-label class="title">Total  : </ion-label> 250 000 Fcfa</ion-card>
    </ion-card-content>
    <ion-title class="title">Licences 3 privés</ion-title>
    <ion-card-content>
      <ion-card class="memeCard">20 000 Fcfa + 0 + 180 000 Fcfa</ion-card>
      <ion-card class="memeCard">2eme versement <ion-label class="montant">90 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">3eme versement <ion-label class="montant">90 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">4eme versement <ion-label class="montant">90 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard"><ion-label class="title">Total  : </ion-label> 470 000 Fcfa</ion-card>
    </ion-card-content>
    <ion-title class="title">Licences 3 Anab</ion-title>
    <ion-card-content>
      <ion-card class="memeCard">20 000 Fcfa + 0 + 80 000 Fcfa</ion-card>
      <ion-card class="memeCard">2eme versement <ion-label class="montant">40 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">3eme versement <ion-label class="montant">40 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">4eme versement <ion-label class="montant">40 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard"><ion-label class="title">Total  : </ion-label> 220 000 Fcfa</ion-card>
    </ion-card-content>

    <ion-title class="title">Masters 1&2 privés</ion-title>
    <ion-card-content>
      <ion-card class="memeCard">20 000 Fcfa + 0 + 240 000 Fcfa</ion-card>
      <ion-card class="memeCard">2eme versement <ion-label class="montant">120 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">3eme versement <ion-label class="montant">120 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">4eme versement <ion-label class="montant">120 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard"><ion-label class="title">Total  : </ion-label> 620 000 Fcfa</ion-card>
    </ion-card-content>
    <ion-title class="title">Master 1&2 Anab</ion-title>
    <ion-card-content>
      <ion-card class="memeCard">20 000 Fcfa + 0 + 200 000 Fcfa</ion-card>
      <ion-card class="memeCard">2eme versement <ion-label class="montant">100 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">3eme versement <ion-label class="montant">100 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard">4eme versement <ion-label class="montant">120 000 Fcfa</ion-label></ion-card>
      <ion-card class="memeCard"><ion-label class="title">Total  : </ion-label> 530 000 Fcfa</ion-card>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Autres</ion-card-title><br>
    <ion-card class="memeCard">
      <ion-label class="title">Moyens 1&2</ion-label><br>
      <ion-label>Sociétés et ONG : <ion-label class="montant">450 000 Fcfa</ion-label></ion-label><br>
      <ion-label>Etat Niger : <ion-label class="montant">500 000 Fcfa</ion-label></ion-label>
    </ion-card>

    <ion-card class="memeCard">
      <ion-label class="title">Moyens 3 (BAC Pro)</ion-label><br>
      <ion-label>Sociétés et ONG : <ion-label class="montant">550 000 Fcfa</ion-label></ion-label><br>
      <ion-label>Etat Niger : <ion-label class="montant">600 000 Fcfa</ion-label></ion-label>
    </ion-card>

    <ion-card class="memeCard">
      <ion-label class="title">Licences 1&2 (BTS)</ion-label><br>
      <ion-label>Sociétés et ONG : <ion-label class="montant">600 000 Fcfa</ion-label></ion-label><br>
      <ion-label>Etat Niger : <ion-label class="montant">800 000 Fcfa</ion-label></ion-label>
    </ion-card>

    <ion-card class="memeCard">
      <ion-label class="title">Licences 3</ion-label><br>
      <ion-label>Sociétés et ONG : <ion-label class="montant">750 000 Fcfa</ion-label></ion-label><br>
      <ion-label>Etat Niger : <ion-label class="montant">900 000 Fcfa</ion-label></ion-label>
    </ion-card>

    <ion-card class="memeCard">
      <ion-label class="title">Masters 1&2</ion-label><br>
      <ion-label>Sociétés et ONG : <ion-label class="montant">1 080 000 Fcfa</ion-label></ion-label><br>
      <ion-label>Etat Niger : <ion-label class="montant">1 200 000 Fcfa</ion-label></ion-label>
    </ion-card>
  </ion-card>
</ion-content>
