<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Mots du DG</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Delectus similique, at blanditiis commodi eligendi laboriosam a enim ea,
      ipsam labore debitis dolor, ipsa atque fuga laborum reprehenderit quia
      quas aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quis pariatur porro accusantium esse cum consequatur totam, veniam error
      facilis, architecto officiis quia dolor sequi placeat quo quaerat ratione
      dignissimos rerum?
      Here's a small text description for the card content. Nothing more,
      nothing less. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Delectus similique, at blanditiis commodi eligendi laboriosam a enim ea,
      ipsam labore debitis dolor, ipsa atque fuga laborum reprehenderit quia
      quas aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Quis pariatur porro accusantium esse cum consequatur totam, veniam error
      facilis, architecto officiis quia dolor sequi placeat quo quaerat ratione
      dignissimos rerum?
    </ion-card-content>
  </ion-card>
</ion-content>
