<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Retour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      Chers étudiants, chers parents, chers partenaires, Bienvenue à EPI-Niger,
      l’École Privée d’Ingénierie du Niger, un établissement qui incarne
      l’excellence et l’innovation au service de la formation de la prochaine
      génération de leaders et de professionnels. Depuis sa création, EPI-Niger
      s’est donné pour mission d’offrir une éducation de qualité, fondée sur des
      principes solides d’excellence académique, d’intégrité et d’engagement
      communautaire. Nos programmes sont conçus pour répondre aux besoins
      croissants du marché du travail, en mettant l’accent sur les domaines
      techniques, scientifiques et managériaux. Grâce à une équipe pédagogique
      qualifiée et dévouée, et des infrastructures modernes, EPI-Niger offre un
      cadre propice à l’apprentissage et à l’innovation. Nous croyons fermement
      que chaque étudiant a le potentiel de réaliser de grandes choses, et notre
      rôle est de fournir les outils et l’accompagnement nécessaires pour y
      parvenir. À EPI-Niger, nous formons des ingénieurs, des entrepreneurs et
      des professionnels capables de relever les défis de demain, tout en
      contribuant activement au développement de notre cher pays, le Niger. Je
      vous invite à découvrir tout ce que notre institution a à offrir et à
      partager avec nous cette passion pour l’excellence. Ensemble, continuons à
      bâtir un avenir prometteur pour nos étudiants et notre nation.
    </ion-card-content>
  </ion-card>
</ion-content>
