<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Retour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <!-- Chers étudiants, chers parents, chers partenaires, Bienvenue à EPI-Niger,
      l’École Privée d’Ingénierie du Niger, un établissement qui incarne
      l’excellence et l’innovation au service de la formation de la prochaine
      génération de leaders et de professionnels. Depuis sa création, EPI-Niger
      s’est donné pour mission d’offrir une éducation de qualité, fondée sur des
      principes solides d’excellence académique, d’intégrité et d’engagement
      communautaire. Nos programmes sont conçus pour répondre aux besoins
      croissants du marché du travail, en mettant l’accent sur les domaines
      techniques, scientifiques et managériaux. Grâce à une équipe pédagogique
      qualifiée et dévouée, et des infrastructures modernes, EPI-Niger offre un
      cadre propice à l’apprentissage et à l’innovation. Nous croyons fermement
      que chaque étudiant a le potentiel de réaliser de grandes choses, et notre
      rôle est de fournir les outils et l’accompagnement nécessaires pour y
      parvenir. À EPI-Niger, nous formons des ingénieurs, des entrepreneurs et
      des professionnels capables de relever les défis de demain, tout en
      contribuant activement au développement de notre cher pays, le Niger. Je
      vous invite à découvrir tout ce que notre institution a à offrir et à
      partager avec nous cette passion pour l’excellence. Ensemble, continuons à
      bâtir un avenir prometteur pour nos étudiants et notre nation. -->

      Chers étudiants, parents, partenaires et amis de EPI-Niger, C’est avec une
      grande fierté et un immense honneur que je vous adresse ces quelques mots
      en tant que Directeur Général de l’École Privée d’Ingénierie du Niger
      (EPI-Niger). Depuis sa création, notre institution s'est imposée comme un
      acteur incontournable de la formation supérieure au Niger, dédiée à
      l’excellence, à l’innovation et au service de notre communauté.
      <ion-card class="card">
        <ion-card-title>Notre Mission</ion-card-title>
        <ion-card-content
          >À EPI-Niger, nous avons pour mission de former des leaders
          visionnaires et des professionnels hautement qualifiés, capables de
          relever les défis d’un monde en perpétuelle évolution. Nous croyons
          fermement que l’éducation est la clé de la transformation sociale,
          économique et technologique de notre pays. C’est pourquoi nous avons
          fait de l’innovation pédagogique, de la rigueur académique et de
          l’ouverture sur le monde les piliers de notre institution.
        </ion-card-content>
        <ion-card-title>Nos Atouts</ion-card-title>
        <ion-card-content>
          EPI-Niger, c’est avant tout : <br />
          Des formations de qualité : adaptées aux besoins du marché du travail,
          couvrant des domaines variés tels que l’ingénierie, les technologies
          de l’information, le management, et bien d’autres encore. <br /><br />
          Une équipe d’excellence : composée de professeurs et professionnels
          chevronnés, engagés dans la réussite de chaque étudiant. <br /><br />
          Des infrastructures modernes : équipées pour offrir un cadre propice à
          l’apprentissage, à la recherche et à l’innovation. <br /><br />
          Une vision tournée vers l’avenir : où l’éducation n’est pas seulement
          un moyen d’acquérir des connaissances, mais aussi un levier pour bâtir
          des solutions durables aux défis de notre société.
        </ion-card-content>
        <ion-card-title>Nos Réalisations</ion-card-title>
        <ion-card-content
          >Au fil des années, EPI-Niger a vu émerger une génération de diplômés
          compétents, passionnés et engagés. Ces hommes et ces femmes sont
          aujourd’hui des acteurs clés dans divers secteurs de l’économie,
          portant haut les couleurs de notre institution. Nos collaborations
          avec des partenaires nationaux et internationaux renforcent également
          notre impact et ouvrent de nouvelles opportunités pour nos
          étudiants.</ion-card-content
        >
        <ion-card-title>Notre Engagement</ion-card-title>
        <ion-card-content
          >Chers étudiants, vous êtes au cœur de notre raison d’être. Votre
          réussite est notre plus grande satisfaction. Nous nous engageons à
          vous offrir les meilleures conditions pour que vous puissiez non
          seulement exceller dans vos études, mais aussi développer les qualités
          humaines, éthiques et professionnelles nécessaires pour devenir des
          citoyens modèles et des leaders influents. <br />
          À nos parents et partenaires, nous renouvelons notre engagement à
          maintenir les standards d’excellence qui font de EPI-Niger une
          référence dans le domaine de la formation supérieure au Niger. Votre
          confiance nous inspire et nous motive à repousser nos
          limites.</ion-card-content
        >
        <ion-card-title>Une Invitation à la Collaboration</ion-card-title>
        <ion-card-content
          >L’éducation est une responsabilité partagée. Ensemble, étudiants,
          enseignants, parents et partenaires, nous pouvons continuer à bâtir un
          environnement éducatif où chaque rêve trouve sa voie, et où chaque
          ambition devient une réalité.
        </ion-card-content>
      </ion-card>
      En conclusion, permettez-moi d’exprimer ma gratitude envers toute la
      communauté EPI-Niger pour sa contribution quotidienne à notre mission.
      Continuons à travailler main dans la main pour écrire ensemble les plus
      belles pages de notre histoire.
    </ion-card-content>
  </ion-card>
</ion-content>
