<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Nos filieres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Nos filiere:</ion-card-subtitle> <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eos minima
      eligendi! Explicabo odit exercitationem aperiam excepturi dolor quis
      vitae, iste earum culpa ips
    </ion-card-content>    
  </ion-card>
  <ion-card>
    <ion-card-title class="marge">Niveaux moyens</ion-card-title>
    <ion-card-content>
      <ion-label>Comptabilité informatique</ion-label><br>
      <ion-label>Electricité(Industriel ou EIE)</ion-label><br>
      <ion-label>Employé de Banque</ion-label><br>
      <ion-label>Employé de commerce</ion-label><br>
      <ion-label>Froid et climatisation</ion-label><br>
      <ion-label>Informatique de gestion</ion-label><br>
      <ion-label>Maintenance informatique et électronique</ion-label><br>
      <ion-label>Secrétariat bureautique</ion-label><br>
      <ion-label>Transport Logistique</ion-label>
    </ion-card-content>

    <ion-card-title>BTS d'Etat et licences professionnelles</ion-card-title><br>
    <ion-title>Tertiaires</ion-title>
    <ion-card-content>
      <ion-label>Administration et gestion des organisations</ion-label><br>
      <ion-label>Banque Finance</ion-label><br>
      <ion-label>Communication des entreprises</ion-label><br>
      <ion-label>Comptabilité et gestion des entreprises</ion-label><br>
      <ion-label>Gestion commerciale et marketing</ion-label><br>
      <ion-label>Gestion des projets</ion-label><br>
      <ion-label>Gestion des ressources humaines</ion-label><br>
      <ion-label>Ingénierie hotelière</ion-label><br>
      <ion-label>Secrétariat de direction</ion-label><br>
      <ion-label>Transports Logistique</ion-label><br>
      <ion-label>Gestion des projets option suivi et évaluation des projets/Programmes</ion-label><br>
    </ion-card-content>
    <ion-title>Industrielles</ion-title>
    <ion-card-content>
      <ion-label>Assistant architecte</ion-label><br>
      <ion-label>Cybersécurité et cybercriminalité</ion-label><br>
      <ion-label>Génie civil</ion-label><br>
      <ion-label>Génie électrique et Energie renouvelable</ion-label><br>
      <ion-label>Génie logiciel</ion-label><br>
      <ion-label>Informatique de gestion</ion-label><br>
      <ion-label>Maintenance informatique et Electronique</ion-label><br>
      <ion-label>Pétrole (Exploitation et pétrochimie)</ion-label><br>
      <ion-label>Télécommunication et Réseaux</ion-label><br>
      <ion-label>Informatique</ion-label><br>
      <ion-label>Génie mécanique</ion-label><br>
    </ion-card-content>

    <ion-card-title>Masters professionnels</ion-card-title><br>
    <ion-title>Tertiaires</ion-title>
    <ion-card-content>
      <ion-label>Gestion des projets option suivi et évaluation des projets/programmes</ion-label><br>    
      <ion-label>Gestion des ressources humaines</ion-label>  
    </ion-card-content>
    <ion-title>Industruelles</ion-title>
    <ion-card-content>
      <ion-label>Génie civil</ion-label><br>    
      <ion-label>Génie électrique et Energie renouvelable</ion-label><br>
      <ion-label>Informatique de gestion option Génie logiciel</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
