<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Rentre academique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Date de la rentrées:</ion-card-subtitle> <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eos minima
      eligendi! Explicabo odit exercitationem aperiam excepturi dolor quis
      vitae, iste earum culpa ips
    </ion-card-content>
  </ion-card>

  <ion-card class="card">
    <ion-card-title>16 septembre</ion-card-title>
    <ion-card-content>Pour les etudiant de la licence 2&3, Master 2 et les élèves de la 2eme et 3eme années du niveau moyen</ion-card-content>

    <ion-card-title>21 octobre</ion-card-title>
    <ion-card-content>Pour les etudiant de la licence 1, Master 1 et les élèves de la première années du niveau moyen</ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-title>01 Janvier</ion-card-title>
    <ion-card-content>Toutes niveaux confondus</ion-card-content>
  </ion-card>
</ion-content>
