<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Retour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Nous sommes situés:</ion-card-subtitle> <br />
      Rue Issa Béri, Plateau II, échangeur Mali Bero couloir en face du
      Ministère de la justice à 100m du goudron
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <a href="tel:+227 98606077">
          <ion-button color="succes" class="btn">
            <ion-item class="cardList">
              <ion-icon name="call" class="un"></ion-icon>
              <ion-label>Veuillez nous contacter</ion-label>
              <!-- <ion-button color="succes"
                ><ion-icon
                  name="caret-forward-circle-outline"
                  class="lien"
                ></ion-icon
              ></ion-button> -->
            </ion-item>
          </ion-button>
        </a>

        <ion-button href="{{url}}" color="succes" class="btn">
          <ion-item class="cardList">
            <ion-icon name="logo-whatsapp" class="un"></ion-icon>
            <ion-label>Ecrivez nous sur whatsapp</ion-label>
            <!-- <ion-button color="succes"
              ><ion-icon
                name="caret-forward-circle-outline"
                class="lien"
              ></ion-icon
            ></ion-button> -->
          </ion-item>
        </ion-button>

        <ion-button href="{{essaie}}" color="succes" class="btn">
          <ion-item class="cardList">
            <ion-icon name="logo-facebook" class="deux"></ion-icon>
            <ion-label>Notre page facebook</ion-label>
            <!-- <ion-button href="{{essaie}}" color="succes"
              ><ion-icon
                name="caret-forward-circle-outline"
                class="lien"
              ></ion-icon
            ></ion-button> -->
          </ion-item>
        </ion-button>

        <a href="mailto:info@epiniger.edu.ne">
          <ion-button color="succes" class="btn">
            <ion-item class="cardList">
              <ion-icon name="mail" class="trois"></ion-icon>
              <ion-label>Veuillez nous ecrire</ion-label>
              <!-- <ion-button color="succes"
                ><ion-icon
                  name="caret-forward-circle-outline"
                  class="lien"
                ></ion-icon
              ></ion-button> -->
            </ion-item>
          </ion-button>
        </a>

        <!-- <ion-item class="cardList">
          <ion-icon name="logo-youtube" class="trois"></ion-icon>
          <ion-label>notre chaine youtube</ion-label>
          <ion-button href="{{ytube}}" color="succes"
            ><ion-icon name="caret-forward-circle-outline"></ion-icon></ion-button>
        </ion-item> -->

        <ion-button href="{{sweb}}" color="succes" class="btn">
          <ion-item class="cardList">
            <ion-icon name="globe" class="quatre"></ion-icon>
            <ion-label>Notre site web</ion-label>
            <!-- <ion-button href="{{sweb}}" color="succes"
              ><ion-icon
                name="caret-forward-circle-outline"
                class="lien"
              ></ion-icon
            ></ion-button> -->
          </ion-item>
        </ion-button>

        <ion-button href="{{local}}" color="succes" class="btn">
          <ion-item class="cardList">
            <ion-icon name="compass"></ion-icon>
            <ion-label>Notre localisation</ion-label>
           <!--  <ion-button href="{{local}}" color="succes"
              ><ion-icon
                name="caret-forward-circle-outline"
                class="lien"
              ></ion-icon
            ></ion-button> -->
          </ion-item>
        </ion-button>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
