<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Nos mission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-title>Notre mission</ion-card-title>
    <ion-card-content>
      Notre mission est d’assurer à nos lauréats un savoir, un savoir faire et
      un savoir être qui leur permettent d’entrer rapidement dans la vie active.
      Grâce à une compétence reconnue et constatée, par le secteur
      professionnel, lors de leur travail de fin d’études, ils intègrent
      aisément le monde de l’emploi et s’ y distinguent par leur faculté à être
      très vite productifs.
    </ion-card-content>
    <ion-card-title>Nos valeurs</ion-card-title>
    <ion-card-content>
      Notre vocation est de faire progresser l’enseignement, l’apprentissage et
      la recherche scientifique dans un environnement de travail dynamique et
      innovant. Nous nous focalisons sur l’excellence académique en offrant à
      nos étudiants des cursus de formation diversifiés et pointus selon des
      standards internationaux. Nous accompagnons tous nos étudiants, du début à
      la fin pour leurs assurer une vie professionnelle épanouie. Nous savons
      que nos étudiants méritent le choix, et nous leurs offrons des programmes
      et des environnements accueillants et sécurisés, virtuels et physiques,
      pour l’étude, la recherche, le travail, la réflexion et l’interaction.
      Nous travaillons en partenariat entre nous, avec notre corps enseignant,
      nos étudiants et nos collègues pour répondre aux besoins de recherche et
      d’enseignement de notre communauté pour le présent et l’avenir. Nous
      faisons preuve d’une solide éthique de travail, en assumant la
      responsabilité de nos actes, en tenant notre parole et en respectant nos
      engagements.
    </ion-card-content>
    <ion-card-title>Notre vision</ion-card-title>
    <ion-card-content>
      Acteur de référence dans l’enseignement supérieur privé au Niger, EPI vise
      à devenir une institution pluridiciplinaire, ancrée en Afrique et ouverte
      sur le monde. Elle a pour ambition de développer des éco systèmes
      créateurs de valeurs, utiles à l’économie et à la société, à travers des
      parcours et des champs d’action diversifiés. EPI aspire, à jouer un rôle
      de catalyseur et de connecteur en faveur d’un développement inclusif et
      durable.
    </ion-card-content>
  </ion-card>
</ion-content>
