<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Fraix Scolarité</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Fraix d'scolarités:</ion-card-subtitle> <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eos minima
      eligendi! Explicabo odit exercitationem aperiam excepturi dolor quis
      vitae, iste earum culpa ips
    </ion-card-content>    
  </ion-card>
  <ion-card>
    <ion-card-title>Niveaux moyens</ion-card-title>
    <ion-card-content class="marge">
      <ion-card>
        <ion-label class="couleur">250 000 Fcfa</ion-label><br>
        <ion-label>Pour les niveaux moyens 1&2</ion-label><br>
      </ion-card>
      <ion-card>
        <ion-label class="couleur">300 000 Fcfa</ion-label><br>
        <ion-label>Pour les niveaux moyens 3 (BAC Pro)</ion-label><br>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Niveaux licences</ion-card-title>
    <ion-card-content class="marge">
      <ion-card>
        <ion-label class="couleur">450 000 Fcfa</ion-label><br>
        <ion-label>Pour les niveaux licences 1&2 Privés</ion-label><br>
      </ion-card>
      <ion-card>
        <ion-label class="couleur">250 000 Fcfa</ion-label><br>
        <ion-label>Pour les niveaux licences 1&2 ANAB</ion-label><br>
      </ion-card>
      <ion-card>
        <ion-label class="couleur">470 000 Fcfa</ion-label><br>
        <ion-label>Pour les niveaux licences 3 Privés</ion-label><br>
      </ion-card>
      <ion-card>
        <ion-label class="couleur">220 000 Fcfa</ion-label><br>
        <ion-label>Pour les niveaux licences 3 ANAB</ion-label><br>
      </ion-card>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Niveaux Masters</ion-card-title>
    <ion-card-content class="marge">
      <ion-card>
        <ion-label class="couleur">620 000 Fcfa</ion-label><br>
        <ion-label>Pour les niveaux Masters 1&2 Privés</ion-label><br>
      </ion-card>
      <ion-card>
        <ion-label class="couleur">530 000 Fcfa</ion-label><br>
        <ion-label>Pour les niveaux Masters 1&2 ANAB 91665023</ion-label><br>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
