<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Pourcentage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-content>
    <ion-card-subtitle class="titl">Nos pourcentages </ion-card-subtitle> <br />
    À l'EPI Niger, nous sommes fiers des résultats obtenus par nos
    élèves lors des différents examens. Nos taux de réussite
    témoignent de la qualité de notre enseignement et de l'engagement de nos
    élèves à atteindre l'excellence académique.
  </ion-card-content>
  <ion-card>
    <!-- <ion-card-title>Nos pourcentages aux examens</ion-card-title> -->

    <ion-card>
      <ion-card-subtitle class="title">BAC Pro</ion-card-subtitle>

      <ion-card-content class="post">
        <ion-card>
          <ion-label class="pourcentage">100%</ion-label><br />
          <ion-label class="text-color">Batiment</ion-label>
        </ion-card>
        <ion-card>
          <ion-label class="pourcentage">89.19%</ion-label><br />
          <ion-label class="text-color">Electricité équipement</ion-label>
        </ion-card>
      </ion-card-content>
      <ion-card-content class="post">
        <ion-card>
          <ion-label class="pourcentage">83.07%</ion-label><br />
          <ion-label class="text-color">Electricité industuel</ion-label>
        </ion-card>
        <ion-card>
          <ion-label class="pourcentage">97.22%</ion-label><br />
          <ion-label class="text-color">Génie civil</ion-label>
        </ion-card>
      </ion-card-content>
      <ion-card-content class="post">
        <ion-card>
          <ion-label class="pourcentage">100%</ion-label><br />
          <ion-label class="text-color">Hotellerie et restauration</ion-label>
        </ion-card>
        <ion-card>
          <ion-label class="pourcentage">61.11%</ion-label><br />
          <ion-label class="text-color">Informatique de gestion</ion-label>
        </ion-card>
      </ion-card-content>
      <ion-card-content class="post">
        <ion-card>
          <ion-label class="pourcentage">85.71%</ion-label><br />
          <ion-label class="text-color">Maintenace informatique</ion-label>
        </ion-card>
        <ion-card>
          <ion-label class="pourcentage">91.46%</ion-label><br />
          <ion-label class="text-color">Secretariat bureautique</ion-label>
        </ion-card>
      </ion-card-content>
      <ion-card-content class="post">
        <ion-card>
          <ion-label class="pourcentage">27.27%</ion-label><br />
          <ion-label class="text-color">Technique commercial</ion-label>
        </ion-card>
        <ion-card>
          <ion-label class="pourcentage">76.92%</ion-label><br />
          <ion-label class="text-color">Transport logistique</ion-label>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>
