ion-toolbar {
  --background: rgb(162, 32, 42);
  color: white;
}
ion-grid {
  text-align: center;
}
ion-arow {
  margin-top: 1%;
}
ion-card-subtitle {
  font-size: 22px;
  color: rgb(162, 32, 42);
  font-weight: bold;
}
.percentage{
  padding: 0;
  text-align: center;
}
.success {
  width:98%;
  --background: rgb(162, 32, 42);
  text-align: center;
}
.percentage ion-label{
  font-size: 12px;
}
.btn{
  width: 100%;
}
.contenu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}
.contenu ion-button {
  display: flex;
  font-size: 12px;
}
.contenu ion-icon {
  font-size: 40px;
}
.succes {
  --background: rgb(162, 32, 42);
}
.second ion-button {
  width: 150px;
}
.first ion-button {
  width: 150px;
}
#ess {
  margin-top: 2%;
}

ion-list .cardList {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  justify-items: center;
}
.filier{
  color: rgb(122, 112, 79);
}
.versement{
  color: rgb(5, 250, 34);
}
.comment{
  color: rgb(41, 44, 102);
}
.dossier{
  color: rgb(244, 183, 104);
}