<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Retour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Apropos de nous:</ion-card-subtitle> <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eos minima
      eligendi! Explicabo odit exercitationem aperiam excepturi dolor quis
      vitae, iste earum culpa ips
    </ion-card-content>
  </ion-card>
  <ion-card class="contenu">
    <ion-card-content class="second">
      <ion-button routerLink="/nomission" class="succes">
        <ion-icon name="pulse"></ion-icon>
        <ion-label>Notre mission</ion-label>
      </ion-button>

      <ion-button routerLink="/noremise" class="succes">
        <ion-icon name="analytics"></ion-icon>
        <ion-label>Nos remise</ion-label>
      </ion-button>
    </ion-card-content>
    <ion-card-content class="first">
      <ion-button routerLink="/fscolarite" class="succes">
        <ion-icon name="cash"></ion-icon>
        <ion-label>Frais scolarite</ion-label>
      </ion-button>

      <ion-button routerLink="/rentreaca" class="succes">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Rentre academique</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list>
      <ion-button routerLink="/filiere" color="succes" class="btn">
        <ion-item class="cardList">
          <ion-icon name="school" class="filier"></ion-icon>
          <ion-label>Nos niveaux et filieres</ion-label>
          <!-- <ion-button color="succes">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button> -->
        </ion-item>
      </ion-button>

      <!-- <ion-item class="cardList">
        <ion-icon name="git-branch"></ion-icon>
        <ion-label>Nos filiere</ion-label>
        <ion-button color="succes"
          ><ion-icon name="arrow-forward"></ion-icon
        ></ion-button>
      </ion-item> -->

      <ion-button routerLink="/versement" color="succes" class="btn">
        <ion-item class="cardList">
          <ion-icon name="card-outline" class="versement"></ion-icon>
          <ion-label>Tranche de versement</ion-label>
          <!-- <ion-button color="succes"
            ><ion-icon name="arrow-forward"></ion-icon
          ></ion-button> -->
        </ion-item>
      </ion-button>

      <ion-button routerLink="/galeri" color="succes" class="btn">
        <ion-item class="cardList">
          <ion-icon name="images"></ion-icon>
          <ion-label>Galerie</ion-label>
          <!-- <ion-button color="succes"
            ><ion-icon name="arrow-forward"></ion-icon
          ></ion-button> -->
        </ion-item>
      </ion-button>

      <ion-button routerLink="/commentaire" color="succes" class="btn">
        <ion-item class="cardList">
          <ion-icon name="arrow-redo-outline" class="comment"></ion-icon>
          <ion-label>Quelques commentaires</ion-label>
          <!-- <ion-button color="succes"
            ><ion-icon name="arrow-forward"></ion-icon
          ></ion-button> -->
        </ion-item>
      </ion-button>

      <ion-button routerLink="/inscription" color="succes" class="btn">
        <ion-item class="cardList">
          <ion-icon name="folder" class="dossier"></ion-icon>
          <ion-label>Dossier d'inscription</ion-label>
          <!-- <ion-button color="succes"
            ><ion-icon name="arrow-forward"></ion-icon>
          </ion-button> -->
        </ion-item>
      </ion-button>
    </ion-list>
  </ion-card>
</ion-content>
