<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Nos mission</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Raison de nos remise:</ion-card-subtitle> <br />
      A l'EPI nous faisons des remise pour favorisent l'inclusion sociale en
      permettant aux élèves issus de milieux économiques différents de
      poursuivre leurs études. Elles permettent de rendre les frais de scolarité
      plus abordables, soulageant ainsi les familles des pressions financières
      tout en offrant une éducation de qualité.
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-title>80%</ion-card-title>
    <ion-card-content
      >De remise aux orphelins tous niveaux confondus</ion-card-content
    >
  </ion-card>
  <ion-card class="card">
    <ion-card-title>50%</ion-card-title>
    <ion-card-content>De remise aux FD et a leurs familles</ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-title>50%</ion-card-title>
    <ion-card-content>De remise aux enfants des retraités</ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-title>20%</ion-card-title>
    <ion-card-content>De remise aux filles de moi de 20 ans</ion-card-content>
  </ion-card>
</ion-content>
