<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/acceuil"></ion-back-button>
    </ion-buttons>
    <ion-title>Galeries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Notre galerie:</ion-card-subtitle> <br />
      Découvrez en images la vie à EPI Niger à travers notre galerie.
      Nous sommes fiers de partager avec vous des moments forts qui reflètent la
      diversité et la richesse des expériences vécues par nos élèves et notre
      personnel.
    </ion-card-content>
  </ion-card>
  <ion-card class="picture">
    <img src="assets/images/epi/e1.jpg" alt="" />
  </ion-card>

  <ion-card class="picture">
    <img src="assets/images/home-slide-2.png" alt="" />
  </ion-card>

  <ion-card class="picture">
    <img src="assets/images/epi/e2.jpg" alt="" />
  </ion-card>

  <ion-card class="picture">
    <img src="assets/images/home-slide-3.png" alt="" />
  </ion-card>

  <ion-card class="picture">
    <img src="assets/images/epi/e3.jpg" alt="" />
  </ion-card>

  <ion-card class="picture">
    <img src="assets/images/home-slide-1.png" alt="" />
  </ion-card>

  <ion-card class="picture">
    <img src="assets/images/epi/e4.jpg" alt="" />
  </ion-card>

  <ion-card class="picture">
    <img src="assets/images/epi/e5.jpg" alt="" />
  </ion-card>

  <ion-card class="picture">
    <img src="assets/images/epi/e6.jpg" alt="" />
  </ion-card>

  <ion-card class="picture">
    <img src="assets/images/epi/e7.jpg" alt="" />

    <ion-card class="picture">
      <img src="assets/images/epi/e8.jpg" alt="" />
    </ion-card>

    <ion-card class="picture">
      <img src="assets/images/epi/e9.jpg" alt="" />
    </ion-card>

    <ion-card class="picture">
      <img src="assets/images/epi/e10.jpg" alt="" />
    </ion-card>

    <ion-card class="picture">
      <img src="assets/images/epi/e11.jpg" alt="" />
    </ion-card>

    <ion-card class="picture">
      <img src="assets/images/epi/e12.jpg" alt="" />
    </ion-card>
  </ion-card>
</ion-content>
