ion-toolbar {
    --background: rgb(162, 32, 42);
    color: white;
  }
  ion-card-subtitle {
    font-size: 25px;
    color: rgb(162, 32, 42);
    font-weight: bold;
  }
.picture{
    border-radius: 50px 120px 0px 30px;
    width: 94%;
  }