ion-toolbar {
    --background: rgb(162, 32, 42);
    color: white;
  }
  ion-card-subtitle {
    font-size: 25px;
    color: rgb(162, 32, 42);
    font-weight: bold;
  }
ion-card ion-img{
  width: 180px;
  height: 180px;
    border-radius: 8px;
    margin-bottom: 3%;
  }
  ion-row{
    display: flex;
    justify-content: space-around;
  }