<ion-header [translucent]="true" class="essss">
  <ion-toolbar>
    <ion-title> EPI Niger </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="logo">
    <img
      alt="logo"
      src="assets/images/epiniger-logo_-_Copie-removebg-preview.png"
    />
  </ion-card>

  <ion-card>
    <ion-card-content color="#aad7fc">
      Au cœur du Niger, l’éducation n’est pas seulement un droit fondamental ;
      elle est un moteur de transformation sociale, économique et culturelle.
      Animée par une passion inébranlable pour le savoir, notre nation place
      l’apprentissage au centre de son développement, faisant de chaque salle de
      classe, de chaque livre ouvert, et de chaque échange éducatif un pas vers
      un avenir meilleur.
      Chaque étudiant, chaque enseignant et chaque institution éducative incarne
      cet esprit de résilience et de détermination, symboles d’une nation qui
      refuse de rester en marge du progrès. Mais cette passion ne s’arrête pas à
      l’acquisition de connaissances. Elle reflète un désir collectif de
      construire un Niger où le potentiel de chaque individu est pleinement
      réalisé. Un Niger où l’éducation n’est pas seulement une finalité, mais un
      levier pour combattre les inégalités, relever les défis technologiques, et
      stimuler la créativité et l’entrepreneuriat.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-buttons>
      <ion-button routerLink="/contact">Contact et adresse</ion-button>
      <ion-button routerLink="/acceuil" class="btn">En savoir plus</ion-button>
    </ion-buttons>
  </ion-card>
</ion-content>
