<ion-header [translucent]="true" class="essss">
  <ion-toolbar>
    <ion-title> EPI Niger </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="logo">
    <img
      alt="logo"
      src="assets/images/epiniger-logo_-_Copie-removebg-preview.png"
    />
  </ion-card>
  
  <ion-card>
    <ion-card-content color="#aad7fc">
      Au cœur du Niger, l'éducation est portée par une passion inébranlable et
      une quête insatiable de savoir. Cette volonté d'apprendre s'accompagne
      d'un profond désir de progrès, reflétant l'aspiration collective à un
      avenir meilleur.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-title>Nos pourcentages aux examens</ion-card-title>
    
    <ion-card>
      <ion-card-subtitle>BAC Pro</ion-card-subtitle>
    
      <ion-card-content class="post">
        <ion-card>
          <ion-label class="pourcentage">100%</ion-label><br>
          <ion-label class="text-color">Batiment</ion-label>
        </ion-card>
        <ion-card>
          <ion-label class="pourcentage">89.19%</ion-label><br>
          <ion-label class="text-color">Electricité équipement</ion-label>
        </ion-card>
      </ion-card-content>
      <ion-card-content class="post">
        <ion-card>
          <ion-label class="pourcentage">83.07%</ion-label><br>
          <ion-label class="text-color">Electricité industuel</ion-label>
        </ion-card>
        <ion-card>
          <ion-label class="pourcentage">97.22%</ion-label><br>
          <ion-label class="text-color">Génie civil</ion-label>
        </ion-card>
      </ion-card-content>
      <ion-card-content class="post">
        <ion-card>
          <ion-label class="pourcentage">100%</ion-label><br>
          <ion-label class="text-color">Hotellerie et restauration</ion-label>
        </ion-card>
        <ion-card>
          <ion-label class="pourcentage">61.11%</ion-label><br>
          <ion-label class="text-color">Informatique de gestion</ion-label>
        </ion-card>
      </ion-card-content>
      <ion-card-content class="post">
        <ion-card>
          <ion-label class="pourcentage">85.71%</ion-label><br>
          <ion-label class="text-color">Maintenace informatique</ion-label>
        </ion-card>
        <ion-card>
          <ion-label class="pourcentage">91.46%</ion-label><br>
          <ion-label class="text-color">Secretariat bureautique</ion-label>
        </ion-card>
      </ion-card-content>
      <ion-card-content class="post">
        <ion-card>
          <ion-label class="pourcentage">27.27%</ion-label><br>
          <ion-label class="text-color">Technique commercial</ion-label>
        </ion-card>
        <ion-card>
          <ion-label class="pourcentage">76.92%</ion-label><br>
          <ion-label class="text-color">Transport logistique</ion-label>
        </ion-card>
      </ion-card-content>
    </ion-card>
    
  </ion-card>

  <ion-card>
    <ion-buttons>
      <ion-button routerLink="/contact">Contact et adresse</ion-button>
      <ion-button routerLink="/acceuil" class="btn">En savoir plus</ion-button>
    </ion-buttons>
  </ion-card>
</ion-content>
