<ion-header [translucent]="true" class="essss">
  <ion-toolbar>
    <ion-title> EPI Niger </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="logo">
    <img
      alt="logo"
      src="assets/images/epiniger-logo_-_Copie-removebg-preview.png"
    />
  </ion-card>
  <!-- <ion-card>
    <ion-card-title>Nos pourcentages aux examen</ion-card-title>
    <ion-card-content>
      <ion-card-subtitle>BAC Pro</ion-card-subtitle>
      <ion-card>
        <ion-label></ion-label>
      </ion-card>
    </ion-card-content>
  </ion-card> -->
  <ion-card>
    <ion-card-content color="#aad7fc">
      Au cœur du Niger, l'éducation est portée par une passion inébranlable et
      une quête insatiable de savoir. Cette volonté d'apprendre s'accompagne
      d'un profond désir de progrès, reflétant l'aspiration collective à un
      avenir meilleur.
    </ion-card-content>
    <ion-buttons>
      <ion-button routerLink="/contact">Contact et adress</ion-button>
      <ion-button routerLink="/acceuil" class="btn">En savoir plus</ion-button>
    </ion-buttons>
  </ion-card>
</ion-content>
